<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dangnhapfirebase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/facebook"
        android:label="Cái Quốc Đat"
        android:roundIcon="@mipmap/facebook"
        android:supportsRtl="true"
        android:theme="@style/Theme.DangNhapFireBase">
        <activity android:name=".NhapMaOTP"></activity>
        <activity android:name=".NhapSoDT" />
        <activity android:name=".Chinh" />
        <activity android:name=".DangKi" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>